<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Switchbot export viewer</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Switchbot data viewer</h1>

			<form id="search_form" action="#" method="POST" onsubmit="">
            	<div class="filtri">
					<input type="hidden" id="date_min" value="{{ date_min }}"/>
					<input type="hidden" id="date_max" value="{{ date_max }}"/>

					<div class="filter_group">
						<label for="sensor">Sensor</label>
						<select id="sensor">
							{% for s in sensors %}
							<option value="{{ s.sensor_id }}">{{ s.name }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="filter_group">
						<label for="start_date">Start date</label>
						<input type="date" id="start_date" min="{{ date_min }}" max="{{ date_max }}">
					</div>

					<div class="filter_group">
						<label for="end_date">End date</label>
						<input type="date" id="end_date" min="{{ date_min }}" max="{{ date_max }}">
					</div>

					<input type="submit" value="Filter"/>
					<input type="reset" onclick="reset_graph()" style="background: #6c757d;"/>
            	</div>
			</form>

            <div class="loading" id="loading">Loading...</div>

            <div class="message" id="message"></div>

            <div id="graph"></div>
        </div>
    </body>
</html>
